body{
    background: #e8e6e7;
}

header{
    padding: 20px 70px;
    background: #cacad8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 8vh;
}

header div img{
    width: 50px;
}

header div ul{
    display: flex;
    align-items: center;
    gap: 60px;
}

.link{
    color: #2c2b2b;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
}
.link:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.redesSociais{
    width: 1.8rem;
}

