main img{
    width: 100%;
    max-height: 500px;
}

.descricaoBolos{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    background: rgba(255, 255, 255, 0.35);
}

.descricaoBolos h2{
    color: #633d05;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.descricaoBolos p{
    color: #633d05;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteudo{
    margin-top: -6px;
    background: #f16767;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 14vh;
}

main section div h4{
    color: #f1e4e4;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 18px;
    margin-bottom: 15px;
}

main section div a{
    padding: 8px 16px;
    background: #633d05;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s;
}

main section div a:hover{
    opacity: 0.85;
}